* {
	margin:0px;
	padding:0px;
}
body {
	
	font-size: 0.8em;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	background:#fff url('../images/background.gif') repeat-x left top;	
	width:100%;
	
}

#wrapper {
	width:785px;
	margin: 0px auto;
}

#header {
	margin-top:78px;
	position: relative;
	height:170px;
}
	#logo {
		margin-top:20px;
		margin-left:40px;
	}
	#icon {
		position: absolute;
		right:-20px;
		top:0px;
	}
	#download {
		position: absolute;
		left:410px;
		top:60px;
	}
	#download img {
		margin-right:15px;
	}
	#navigation {
		position: absolute;
		left:40px;
		bottom:2px;
		list-style: none;
		margin:0px;
	}
	#navigation li {
		display:inline;
		
	}
	#navigation li a {
		float:left;
		margin-right:8px;
		color:#333;
	}
	#navigation li a span{
		float:left;
		display:block;
		background:#f6f6f6;
		padding:7px 10px 5px 10px;
	}
	#navigation li a:hover span {
		background:#f1f1f1;
	}
	#navigation li.selected a span{
		background:#eee;
	}
#content {
	margin:30px 140px 50px 40px;
}
	#screenshots img {
		border:1px solid #ccc;
	}
	#content ul {
		list-style-position: inside;
		list-style-type: square;
		margin-left:20px;
	}
a {
	color:#0983D1;
	text-decoration:none;
}
a:hover {
	color:#0983D1;
	text-decoration:none;
}
p {
	margin-bottom:15px;
	line-height:24px;
}

ul {
	margin-bottom:10px;
}
h2 {
	color:#2C2B2B;
	font-size:1.2em;
	font-weight:bold;
	margin:1em 0 0.3em;
	text-shadow:0 0 1px white;
}
