<div id="edit-project-dialog" title="Edit your project">
	<form id="project-add-edit">
		<fieldset>
			<div>
				<label>Project&nbsp;name:</label>
				<input type="text" size="30" id="project-name" name="project-name">
			</div>
			<div>
				<label>Start date:</label>
				<input type="text" size="10" readonly id="project-start" name="project-start">
				<img src="public/icons/calendar_pick.png" id="project-due-button">
			</div>
			<div>
				<label>Due date:</label>
				<input type="text" size="10" readonly id="project-due" name="project-due">
				<img src="public/icons/calendar_pick.png" id="project-start-button">
			</div>
		</fieldset>
	</form>
	<hr>
	<h3>Current status</h3>
	<table width="100%" class="stats">
		<tr>
			<td>
				<span class="num" id="project-completed-percent">60</span>
				<span class="label">% complete</span>
			</td>
			<td>
				<span class="num" id="project-open-tasks">2</span>
				<span class="label">open tasks</span>
			</td>
			<td>
				<span class="num" id="project-due-date">01/31</span>
				<span class="label" id="project-due-month">January 2009</span>
			</td>
		</tr>
	</table>
	<div id="project-progress"></div>

</div>